.cart-btn-bar {
    float: right;
}

.m-card-title {
    display: inline-block;
}

.btn-cancel {
    margin: 20px;
    background-color: #ddd;
    border: none;
    padding-right: 25px;
    padding-left: 25px;
}
.m-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-footer {
    text-align: right;
}

.btn-delete  {
    margin-left: 30px;
    padding: 5px 30px;
    background-color: #999;
    border: none;
    font-weight: 600;
    color: #fff;
}

.m-btn-danger {
    font-weight: 600;
    border: none;
    padding: 5px 25px;
}

.wrapper:before {
    background: linear-gradient(90deg, red 0%, #c6000000 100%) !important;
}

.sidebar-brand, .sidebar-brand:hover {
    /* background: linear-gradient(90deg, red 0%, #C60000 100%) !important; */
    background-color: #e70202;
}

.create-post-select-img-container {
    text-align: center;
    border: 1px solid #ced4da;
    padding: 20px 0;
    cursor: pointer;
    height: 250px;
}

.create-post-select-img-container i {
    font-size: 50px;
    position: absolute;
    z-index: 0;
    top: calc(50% -50px);
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    font-weight: 600;
}

.post-cover-posts {
    border-radius: 0;
    width: 150px;
    height: 80px;
}

.previews-img-container {
    display: flex;
    flex-flow: wrap;
}

.previews-img-container .item {
    display: inline-flex;
    width: 25%;
    cursor: pointer;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
}

.previews-img-container .item img {
    display: block;
    overflow: hidden;
}

.btn-x-card {
    position: absolute;
    top: -8px;
    right: -8px;
    font-weight: 600;
    background-color: #ccc;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}